# Chave da API do Google Gemini (IA Scout)
# Obtenha em: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=

# Configurações do Firebase (Copiadas do seu firebase-applet-config.json)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=
